.messager {
  padding: 0.8rem 0;
  background: black;
  color: #fff;
  font-size: 1rem;
  position: relative;

  .messagerContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  i.close {
    cursor: pointer;
  }
}
